@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    padding-top: 50px;
    background-color: #ebe9f7;
    padding-bottom: 20px;
}

:root {
    --principal: #58799D;
    --escuro: #202C39;
    --secundaria: #89A2BD;
    --background: #fff;
    --white: #fff;
    font-size: 16px;
    font-family: 'Open Sans';
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #202C39;
    --bg-secondary: #202C39;
    --transition-speed: 600ms;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.button1 {
    background-color: var(--bg-primary);
    padding: 30px;
    text-transform: uppercase;
    transition: 0.5s;
    color: #ffffff;
    border-radius: 10px;
    padding: 5px;
    letter-spacing: 1.3px;
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
    width: 300px;
    height: 45px;
}

    .button1:hover {
        background-color: #6649b8;
    }

.abacaxi {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.abacaxi1 {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
}

.navbar {
    border: none;
}

* {
    font-family: Roboto;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: var(--principal);
    border-radius: 3px;
}

.caixa {
    height: auto;
    padding: 0 70px;
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgba(83, 83, 83, 0.418);
    background-color: #3C5468;
    color: var(--white);
}

.navbar {
    background-color: var(--escuro);
}

.tabela {
    background-color: var(--white);
}


@keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

@-webkit-keyframes fadeInUp {
    from {
        -webkit-transform: translate3d(0, 40px, 0);
        transform: translate3d(0, 40px, 0);
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1;
    }
}

.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
    opacity: 0;
}

.fadeInUp {
    opacity: 0;
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}


    body::-webkit-scrollbar {
        width: 0.25rem;
    }

    body::-webkit-scrollbar-track {
        background: #1e1e24;
    }

    body::-webkit-scrollbar-thumb {
        background: #6649b8;
    }



.navbar {
    position: fixed;
    background-color: var(--bg-primary);
    transition: width 600ms ease;
    overflow: scroll;
    border-radius:0;
    padding:0;
    overflow:unset;
    margin:0;
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}

.nav-item {
    width: 100%;
}

    .nav-item:last-child {
        margin-top: auto;
    }

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-primary);
    text-decoration: none;
    filter: grayscale(100%) opacity(0.7);
    transition: var(--transition-speed);
}

    .nav-link:hover {
        filter: grayscale(0%) opacity(1);  
        color: var(--text-secondary);
        text-decoration:none;
    }

.link-text {
    display: none;
    margin-left: 1rem;
}

.nav-link svg {
    width: 2rem;
    min-width: 2rem;
    margin: 0 1.5rem;
}

.fa-primary {
    color: #ff7eee;
}

.fa-secondary {
    color: #df49a6;
}

.fa-primary,
.fa-secondary {
    transition: var(--transition-speed);
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
}

    .logo svg {
        transform: rotate(0deg);
        transition: var(--transition-speed);
    }

.logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
}

.navbar:hover .logo svg {
    /* transform: rotate(-180deg); */
    transform: rotate(-90deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

        .navbar:hover {
            width: 16rem;
        }

            .navbar:hover .link-text {
                display: inline;
            }

            .navbar:hover .logo svg {
                margin-left: 11rem;
            }

            .navbar:hover .logo-text {
                left: 0px;
            }
}

.dark {
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #23232e;
    --bg-secondary: #141418;
}

.light {
    --text-primary: #1f1f1f;
    --text-secondary: #000000;
    --bg-primary: #ffffff;
    --bg-secondary: #e4e4e4;
}

.solar {
    --text-primary: #576e75;
    --text-secondary: #35535c;
    --bg-primary: #fdf6e3;
    --bg-secondary: #f5e5b8;
}

.theme-icon {
    display: none;
}

.dark #darkIcon {
    display: block;
}

.light #lightIcon {
    display: block;
}

.solar #solarIcon {
    display: block;
}

.footer{
    color:rgba(83, 83, 83, 0.418);
    text-transform:uppercase;
    letter-spacing:2px;
    text-align:center;
}

.margem {
    border-radius: 15px;
    box-shadow: 2px 2px 20px rgb(0,0,0,0.2);
    background-color: rgb(255, 255, 255, 0.09);
    padding: 30px;
    font-size:1em;
}

table.borderless td, table.borderless th {
    border: none !important;
}

p, a {
    color:#1e1e24;

}
p:hover, a:hover {
    color: #6649b8;
    text-decoration:none;
}

h2 {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: #3C5468;
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
}

.trCor{
    color:rgba(83, 83, 83, 0.808);
    font-size:17px;
}

.caixinhas {
    border: solid 2px rgba(83, 83, 83, 0.418);
    background: transparent;
    padding:8px;
    outline: none;
    width: 300px;
    height: 40px;
}

.pesquisa {
    border: solid 2px rgba(83, 83, 83, 0.418);
    background: transparent;
    padding: 8px;
    outline: none;
    width: 360px;
    height: 45px;
}
.inputPesquisa {
    border: none;
    background-color: transparent;
    outline: none;
    width: 340px;
}
.buttonPesquisa {
    border: none;
    background-color: transparent;
    outline: none;
    width: 30px;

}
.aviso{
    color:#6649b8;
}
.caixinhasLogin {
    border: solid 2px #ff7eee;
    background: transparent;
    padding: 8px;
    outline: none;
    width: 300px;
    height: 40px;
}